<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content>
  <ion-img src="/assets/log.png" ></ion-img>

  
  
      

  <div class="custom-box">
    <div class="box-content">
      <div class="text-content">
      <b>Sign Up</b>
      <h5>Create your account by filling up</h5>
    </div>
    <br>
        <ion-input class="input" type="text" placeholder="Fullname" [(ngModel)]="username"></ion-input>    
        <br>
        <ion-input class="input" type="text" placeholder="Username" [(ngModel)]="email"></ion-input>     
        <br>
        <ion-input class="input" type="text" placeholder="Password" [(ngModel)]="password"></ion-input>
    </div>

 
<br><br>
<div class="btnCent">
    <ion-button class="btnCust1"  (click)="signUp()">
      Sign Up
        </ion-button>
        <br><br>
        <b [routerLink]="['/landing']">Close</b>
      </div>
     
  </div>

</ion-content>

